.body {
    background: url("imgs/giphy.gif") no-repeat center center fixed;

}
#box{
    text-align: center;
    position: center center;
}
#idk{
    position: center center;
    height: 50%;
    width: 100%;
    overflow: hidden;
}
